In [33]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Data Science/dataset/2015.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [34]:
df.shape

(441456, 330)

We have too many columns, we will only keep the columns that are relevant to our project.

Here are the columns that we are going to keep

*   If the person has diabetes or not(DIABETE3)
*   High blood pressure (_RFHYPE5)
*   High cholesterol (TOLDHI2)
*   Cholesterol check during the past 5 years (_CHOLCHK)
*   BMI (_BMI5)
*   If you are a smoker or not (SMOKE100)
*   If you ever had a stroke or not (CVDSTRK3)
*   If you ever had any heart diseases or not (_MICHD)
*   If you have done any physical activity during the last 30 days (_TOTINDA)
*   Consume at least one fruit or not (_FRTLT1)
*   Consume vegetables at least once a day or not (_VEGLT1)
*   If you are a heavy drinker, at least 14 drinks a week (_RFDRHV5)
*   If you have any type of health insurance or not (HLTHPLN1)
*   If you needed to see a doctor during the past 12 months but couldn't afford the cost (MEDCOST)

*   Rate your general health (GENHLTH)

*   Rate your mental health (MENTHLTH)
*   Rate your physical health (PHYSHLTH)
*   If you had any trouble walking or climbing the stairs (DIFFWALK)
*   your sex (SEX)
*   your age category (_AGEG5YR)
*   Your highest level of education (EDUCA)
*   Annual household income level (INCOME2)

In [35]:
short_df = df[['DIABETE3','_RFHYPE5', 'TOLDHI2', '_CHOLCHK', '_BMI5', 'SMOKE100', 'CVDSTRK3',
               '_MICHD', '_TOTINDA', '_FRTLT1', '_VEGLT1', '_RFDRHV5', 'HLTHPLN1', 'MEDCOST','GENHLTH',
               'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', 'SEX', '_AGEG5YR', 'EDUCA', 'INCOME2']]

In [36]:
short_df.head()

   DIABETE3  _RFHYPE5  TOLDHI2  _CHOLCHK  ...  SEX  _AGEG5YR  EDUCA  INCOME2
0       3.0       2.0      1.0       1.0  ...  2.0       9.0    4.0      3.0
1       3.0       1.0      2.0       2.0  ...  2.0       7.0    6.0      1.0
2       3.0       1.0      1.0       1.0  ...  2.0      11.0    4.0     99.0
3       3.0       2.0      1.0       1.0  ...  2.0       9.0    4.0      8.0
4       3.0       1.0      2.0       1.0  ...  2.0       9.0    5.0     77.0

[5 rows x 22 columns]

In [37]:
#Drop rows with null values
short_df = short_df.dropna()

In [38]:
short_df.shape

(343606, 22)

Let's rename the columns to meaningful names

In [39]:
short_df = short_df.rename(columns = {'DIABETE3':'diabete', 
                                         '_RFHYPE5':'high_blood_pressure',  
                                         'TOLDHI2':'high_cholesterol', '_CHOLCHK':'cholesterol_check', 
                                         '_BMI5':'bmi', 
                                         'SMOKE100':'heavy_smoker', 
                                         'CVDSTRK3':'stroke', '_MICHD':'heart_disease', 
                                         '_TOTINDA':'physical_activity', 
                                         '_FRTLT1':'fruits', '_VEGLT1':"vegetables", 
                                         '_RFDRHV5':'heavy_alcohol', 
                                         'HLTHPLN1':'health_insurance', 'MEDCOST':'health_cost', 
                                         'GENHLTH':'general_health', 'MENTHLTH':'mental_health', 'PHYSHLTH':'physical_health', 
                                         'DIFFWALK':'walk', 
                                         'SEX':'sex', '_AGEG5YR':'age', 'EDUCA':'education', 'INCOME2':'income' })

Will make the diabetes column ordinal. 0 for those who don't have diabetes, 1 for those who are borderline diabetic and 2 for those who are diabetic. We drop 7 and 9 as they refused to respond

In [40]:
short_df['diabete'] = short_df['diabete'].replace({2:0, 3:0, 1:2, 4:1})
short_df = short_df[short_df.diabete != 7]
short_df = short_df[short_df.diabete != 9]

In [41]:
short_df['diabete'].unique()

array([0., 2., 1.])

High blood pressure we make it binary. 0 for no and 1 for yes

In [42]:
short_df['high_blood_pressure'] = short_df['high_blood_pressure'].replace({1:0, 2:1})
short_df = short_df[short_df.high_blood_pressure != 9]

In [43]:
#Change this column value to 0 and drop the others
short_df['high_cholesterol'] = short_df['high_cholesterol'].replace({2:0})
short_df = short_df[short_df.high_cholesterol != 7]
short_df = short_df[short_df.high_cholesterol != 9]

For cholesterol Change 3 to 0 and 2 to 0 for Not checked cholesterol in past 5 years and remove 9

In [44]:
short_df['cholesterol_check'] = short_df['cholesterol_check'].replace({3:0,2:0})
short_df = short_df[short_df.cholesterol_check != 9]

For BMI, (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)

In [45]:
short_df['bmi'] = short_df['bmi'].div(100).round(0)

For heavy smokers, Change 2 to 0 because it is No.
Remove all 7 (dont knows).
Remove all 9 (refused).

In [46]:
short_df['heavy_smoker'] = short_df['heavy_smoker'].replace({2:0})
short_df = short_df[short_df.heavy_smoker != 7]
short_df = short_df[short_df.heavy_smoker != 9]

For stroke, Change 2 to 0 because it is No.
Remove all 7 (dont knows).
Remove all 9 (refused).

In [47]:
short_df['stroke'] = short_df['stroke'].replace({2:0})
short_df = short_df[short_df.stroke != 7]
short_df = short_df[short_df.stroke != 9]

_MICHD, we Change 2 to 0 because this means the patient did not have any heart disease

In [48]:
short_df['heart_disease'] = short_df['heart_disease'].replace({2: 0})

1 for physical activity.
change 2 to 0 for no physical activity.
Remove all 9 (don't know/refused).

In [49]:
short_df['physical_activity'] = short_df['physical_activity'].replace({2:0})
short_df = short_df[short_df.physical_activity != 9]

Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day. Remove all dont knows and missing 9

In [50]:
short_df['fruits'] = short_df['fruits'].replace({2:0})
short_df = short_df[short_df.fruits != 9]

Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day. 
Remove all dont knows and missing 9

In [51]:
short_df['vegetables'] = short_df['vegetables'].replace({2:0})
short_df = short_df[short_df.vegetables != 9]

Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking).
Remove all dont knows and missing 9

In [52]:
short_df['heavy_alcohol'] = short_df['heavy_alcohol'].replace({1:0, 2:1})
short_df = short_df[short_df.heavy_alcohol != 9]

1 is yes, change 2 to 0 because it is No health insurance.
Remove 7 and 9 for don't know or refused

In [54]:
short_df['health_insurance'] = short_df['health_insurance'].replace({2:0})
short_df = short_df[short_df.health_insurance != 7]
short_df = short_df[short_df.health_insurance != 9]

For those who couldn't afford the cost, Change 2 to 0 for no, 1 is already yes.
Remove 7 for don/t know and 9 for refused

In [55]:
short_df['health_cost'] = short_df['health_cost'].replace({2:0})
short_df = short_df[short_df.health_cost != 7]
short_df = short_df[short_df.health_cost != 9]

Rating General health, This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor).
Remove 7 and 9 for don't know and refused

In [56]:
short_df = short_df[short_df.general_health != 7]
short_df = short_df[short_df.general_health != 9]

Rate Mental health, already in days so keep that, scale will be 0-30. Change 88 to 0 because it means none (no bad mental health days).
Remove 77 and 99 for don't know not sure and refused

In [57]:
short_df = short_df[short_df.mental_health != 77]
short_df = short_df[short_df.mental_health != 99]

Physical health, already in days so keep that, scale will be 0-30.
Change 88 to 0 because it means none (no bad mental health days).
Remove 77 and 99 for don't know not sure and refused.

In [58]:
short_df['physical_health'] = short_df['physical_health'].replace({88:0})
short_df = short_df[short_df.physical_health != 77]
short_df = short_df[short_df.physical_health != 99]

Difficulties walking, Change 2 to 0 for no. 1 is already yes.
Remove 7 and 9 for don't know not sure and refused

In [59]:
short_df['walk'] = short_df['walk'].replace({2:0})
short_df = short_df[short_df.walk != 7]
short_df = short_df[short_df.walk != 9]

For sex, we arbitrarily chose this change because men are more likely to have heart disease).
Change 2 to 0 (female as 0). Male is 1.

In [60]:
short_df['sex'] = short_df['sex'].replace({2:0})

For age, it is already ordinal we just remove 14 because it is don't know or missing

In [61]:
short_df = short_df[short_df.age != 14]

For education, the scale is from 1 to 6.
We just emove 9 for refused

In [62]:
short_df = short_df[short_df.education != 9]

For Income, we remove 77 and 99 for don't know and refused

In [63]:
short_df = short_df[short_df.income != 77]
short_df = short_df[short_df.income != 99]

In [64]:
short_df.shape

(253680, 22)

In [66]:
short_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253680 entries, 0 to 441455
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   diabete              253680 non-null  float64
 1   high_blood_pressure  253680 non-null  float64
 2   high_cholesterol     253680 non-null  float64
 3   cholesterol_check    253680 non-null  float64
 4   bmi                  253680 non-null  float64
 5   heavy_smoker         253680 non-null  float64
 6   stroke               253680 non-null  float64
 7   heart_disease        253680 non-null  float64
 8   physical_activity    253680 non-null  float64
 9   fruits               253680 non-null  float64
 10  vegetables           253680 non-null  float64
 11  heavy_alcohol        253680 non-null  float64
 12  health_insurance     253680 non-null  float64
 13  health_cost          253680 non-null  float64
 14  general_health       253680 non-null  float64
 15  mental_health        253680 non-null  float64
 16  physical_health      253680 non-null  float64
 17  walk                 253680 non-null  float64
 18  sex                  253680 non-null  float64
 19  age                  253680 non-null  float64
 20  education            253680 non-null  float64
 21  income               253680 non-null  float64
dtypes: float64(22)
memory usage: 44.5 MB

Let's make the diabete column binary

In [68]:
d = {0.0: 0, 1.0: 1, 2.0: 1}
short_df['diabete'] = short_df['diabete'].map(d).fillna(short_df['diabete'])
short_df['diabete'].value_counts()

0    213703
1     39977
Name: diabete, dtype: int64

The target variable is unbalanced, we will deal with it later

Split the data to train/test sets with a 70/30 ratio

In [70]:
from sklearn.model_selection import train_test_split
X = short_df.drop(['diabete'],axis=1)
y = short_df['diabete']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)

Data is unbalanced, We use SMOTE method on the train set to oversample the data and balance the target variable

In [71]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(sampling_strategy='auto', k_neighbors=1)
X_train, y_train = sm.fit_resample(X_train, y_train)

For this task we will use "Random Forest Classifier" machine learning algorithm

In [72]:
from sklearn.ensemble import RandomForestClassifier
rec = RandomForestClassifier().fit(X_train,y_train)
print(rec.score(X_train, y_train))
print(rec.score(X_test, y_test))

0.9962527803568209
0.8399821297172291

Our model has 99% score on training set and 83% on test set.

Let's take a look at the confusion matrix and classification report

In [73]:
from sklearn.metrics import confusion_matrix, classification_report
pred = rec.predict(X_test)
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[61254  2738]
 [ 9440  2672]]
              precision    recall  f1-score   support

           0       0.87      0.96      0.91     63992
           1       0.49      0.22      0.30     12112

    accuracy                           0.84     76104
   macro avg       0.68      0.59      0.61     76104
weighted avg       0.81      0.84      0.81     76104

This model is not perfect as the precision is quite low for the variable '1' and higher for '0' but it is a good classifier compared to the others.